@using AjaxAndjQuery.Models.Domain
@model IEnumerable<AjaxAndjQuery.Models.ViewModels.SessionViewModel>

@{
    ViewData["Title"] = "Partial Views";
}


<h2>@ViewData["Title"]</h2>

<h3>Overview Sessions</h3>

@if (!Model.Any()){
    @:There are no sessions.  Add one below!
}
else
{
    <table class="table" id="sessions">
        <tr>
            <th>Name
            <th>
            <th>Description</th>
            <th>Level</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Level</td>
                <td>
                    <form asp-action="Remove" method="post" class="formRemove">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                    </form>
                </td>
            </tr>
        }

    </table>
}

<p></p>

<h3>Add a new session</h3>
<form asp-controller="Session" asp-action="Add"  id="formAdd">

        <span id="indicator" style="display: none">
            <img src="~/Images/load.gif" alt="loading..." />
        </span>
    
        <div class="form-group">
            <label for="Name">Name</label>
            <input id="Name" name="Name" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="Description">Description</label>
            <input id="Description" name="Description" class="form-control" />
          </div>

        <div class="form-group">
            <label for="Level">Level</label>
            <select id="Level" name="Level"  
                    asp-items="@(new SelectList(new[] { "--Select a level--" }.Concat(Enum.GetNames(typeof(Level)))))" class="form-control"></select>
        </div>

        <div class="form-group">
          <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </form>

@section Scripts{
    <script src="~/js/CustomScripts/SessionScripts.js"></script>
}
